@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --linha-table: #e2e2e2;
  --bg:          #e2e2e2;
  --textOne:     #5f5f5f;
  --bg-main:     #ffffff;
  --bg-button:   #18dd49;
  --text-btn:    #f3f3f3;
}

body {
  display: grid;
  height: 100vh;
  place-items: center;
  background-color: var(--bg);
}

main {
  width: 30rem;
  height: 18rem;
  border: 1px solid #525252; 
  border-radius: 5px;
  padding: 4rem 2rem;
  background-color: var(--bg-main);  
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Open Sans', sans-serif;
}

main div {
  display: flex;
  gap: 1rem;
}

main div>input,button {
  height: 2rem;
  font-size: 16px;
  
  border: 1px solid #9c9c9c;
  border-radius: 3px;
}

div button {
  width: 100%;
  font-weight: 580;
  cursor: pointer;
  background-color: var(--bg-button);
  color: var(--text-btn);
  
}

main>div input {
  padding-left: 0.8rem;
  background-color: #f3f3f3;
  color: var(--textOne);
}

input::placeholder {
  color: #a0a0a0;
  font-size: 17px;
}

input:focus {
  outline: 0; 
  border: 1px solid #424242; 
  
}

input:focus::placeholder {
  color: #dadada;
}

button:hover {
  background-color: #14c03f;
  color: #f3f3f3;
  transition: 0.8s;
}

.inputVazio::placeholder {
  color: #d42c2c;
  font-weight: 600;
}

table {
  width: 100%;
  border: 1px solid #9c9c9c;
  border-collapse: collapse;
  font-size: 17px;  
}

tr,td {
  height: 1.5rem;  
}

.bg-line {
  background-color: var(--linha-table);
}

